@page
@using Yggdrasil.DbModels
@model Yggdrasil.Pages.Study.HomeworkModel
@{
}


@for (int i = 0; i < Model.Input.Count; i++)
{
    <h2 class="h2">@Model.Input[i].Name</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Задание</th>
                <th scope="col">Дедлайн</th>
                <th scope="col">Сделано?</th>
                <th scope="col">Файлы</th>
            </tr>
        </thead>
        <tbody>
            @for (int j = 0; j < Model.Input[i].Homeworks.Count; j++)
            {
                <tr>
                    <td>@Model.Input[i].Homeworks[j].Description</td>
                    <td>@Model.Input[i].Homeworks[j].Deadline</td>
                    <td>
                        <form>
                            @if (Model.Input[i].Homeworks[j].Finished)
                            {
                                <input asp-for="@Model.Input[i].Homeworks[j].Finished" autocomplete="off" class="btn-check" readonly checked disabled="disabled">
                                <label class="btn btn-outline-primary" asp-for="@Model.Input[i].Homeworks[j].Finished">Выполнено</label>
                            }
                            else
                            {
                                <input asp-for="@Model.Input[i].Homeworks[j].Finished" autocomplete="off" class="btn-check" readonly disabled="disabled">
                                <label class="btn btn-outline-primary" asp-for="@Model.Input[i].Homeworks[j].Finished">Невыполнено</label>
                            }

                        </form>
                    </td>
                    <td>
                        @if (@Model.Input[i].Homeworks[j].Files is not null)
                        {
                            @foreach (var file in @Model.Input[i].Homeworks[j].Files)
                            {
                                <form method="post">
                                    <input type="hidden" name="fileid" value="@file.Id"/>
                                    <button type="submit" asp-page="Download">@file.Name</button>
                                    <br/>
                                </form>
                            }
                        }
                    </td>
                    <td>
                        <form method="get">
                            <input type="submit" class="btn btn-outline-primary" asp-page="HomeworkUpdate" asp-route-id="@Model.Input[i].Homeworks[j].Id" asp-route-subjectname="@Model.Input[i].Name" value="Изменить" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form method="post">
        <input type="submit" class="btn btn-primary" asp-page="HomeworkAdd" asp-route-subjectId="@Model.Input[i].SubjectId" value="Добавить" />
    </form>


}
